[Unit]
Description=Java Spring Boot Application
After=cloud-init.service
Wants=cloud-init.service

[Service]
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/bin/java -jar /home/csye6225/assignment-0.0.1-SNAPSHOT.jar
Restart=always
User=csye6225
WorkingDirectory=/home/csye6225

[Install]
WantedBy=multi-user.target
